beautifulsoup4==4.13.4
certifi==2025.1.31
charset-normalizer==3.4.1
colorama==0.4.6
evdev==1.9.1
idna==3.10
psutil==7.0.0
pynput==1.8.1
python-nmap==0.7.1
python-xlib==0.33
requests==2.32.3
scapy==2.6.1
simple-term-menu==1.6.6
six==1.17.0
soupsieve==2.7
typing_extensions==4.13.2
urllib3==2.4.0
